@model TrainBlog.Models.BlogPost
@using Microsoft.AspNet.Identity

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<article class="post">
					<div class="text-center post-header">
						<h2 class="post-title">@Html.DisplayFor(m => m.Title)</h2>
						<p class="post-date">@Html.DisplayFor(m => m.Created)</p>
						@if (Model.Updated != null)
						{
							<p class="post-date"><i>Updated @Html.DisplayFor(m => m.Updated)</i></p>
						}
					</div>

					<div class="post-preview text-center">
						@if (Model.MediaUrl != "")
						{
							<a href="@Model.MediaUrl" class="swipebox">
								<img src="@Model.MediaUrl" alt="" class="img-fluid rounded" />
							</a>
						}
					</div>

					<div class="blog-detail-description">
						@Html.Raw(Model.Body)

						<hr />

						<!-- Social media share buttons *sometimes* don't show up and I don't know why -->

						<div class="fb-share-button"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="dhunterw" data-show-count="false">Tweet</a></div>
						<div class="fb-share-button" data-href="https://hwrailfanning.net/Blog/@(Model.Slug)" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhwrailfanning.net%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

						@if (User.IsInRole("King"))
						{
							<hr />
							<p>
								Manage Post:
							</p>
							<p>
								@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
							</p>
						}

						<hr />

						<div class="mt-5">
							@if (Model.Comments.FirstOrDefault() != null)
							{
								<h5 class="page-title-alt"><span>Comments</span></h5>
							}
							else
							{
								<h5 class="page-title-alt"><span>No Comments Yet</span></h5>
							}
						</div>

						@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
						{
							<ul class="media-list list-unstyled">
								<li class="media">
									@if (comment.Author.AvatarUrl != null)
									{
										<img class="d-flex mr-3 rounded-circle" src="@comment.Author.AvatarUrl" alt="Comment Author" />
									}
									else
									{
										<img class="d-flex mr-3 rounded-circle" src="~/Avatars/nophoto.png" alt="No Profile Photo" />
									}
									<div class="media-body">
										@*<a href="#" class="text-custom reply-btn"><i class="mdi mdi-reply"></i>&nbsp; Reply</a>*@
										<h4 class="media-heading"><a href="">@comment.Author.DisplayName</a></h4>
										<p class="text-muted post-date">@comment.Created.ToString("MMMM d, yyyy h:mm tt")</p>
										@if (comment.Updated != null)
										{
											<p class="text-muted post-date">Edited @comment.Updated.Value.ToString("MMMM d, yyyy h:mm tt")</p>
										}
										<p>@comment.Body</p>
										@if (User.IsInRole("King") || User.Identity.GetUserId() == comment.AuthorId)
										{
											<div class="row">
												<div class="col-sm-1 text-center">
													@using (Html.BeginForm("Edit", "Comments", FormMethod.Get))
													{
														@Html.Hidden("Created", comment.Created)
														@Html.Hidden("AuthorId", comment.AuthorId)
														@Html.Hidden("Id", comment.Id)
														@Html.Hidden("slug", Model.Slug)
														<button type="submit" class="btn btn-dark">Edit</button>
													}
												</div>
												<div class="col-sm-1 text-center">
													@using (Html.BeginForm("Delete", "Comments", FormMethod.Post))
													{
														@Html.Hidden("Id", comment.Id)
														@Html.Hidden("slug", Model.Slug)
														@Html.AntiForgeryToken()
														<button type="submit" class="btn btn-dark">Delete</button>
													}
												</div>
											</div>
										}
									</div>
								</li>
							</ul>
						}

						<div class="mt-5">
							@if (User.Identity.IsAuthenticated)
							{
								<h5 class="page-title-alt"><span>Say Something</span></h5>
							}
							else
							{
								<h5 class="page-title-alt"><span>Log in to leave a comment</span></h5>
							}
						</div>
						@if (User.Identity.IsAuthenticated)
						{
							using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "mt-4" }))
							{
								@Html.AntiForgeryToken()
								@Html.ValidationSummary("", new { @class = "text-danger" })
								@Html.Hidden("slug", Model.Slug)
								@Html.Hidden("BlogPostId", Model.Id)
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											@Html.TextArea("CommentBody", new { @class = "form-control", rows = 5, placeholder = "Your Message", name = "comment" })
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<button name="submit" type="submit" id="submit" class="btn btn-dark">Post Comment</button>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</article>
			</div>
			<div class="col-lg-4">
				<div class="sidebar">

					<!-- About widget-->
					@Html.Partial("AboutWidgetPartial", new List<TrainBlog.Models.AboutSnippet>())

					@*<aside class="widget">
							<div class="widget-title">About Me</div>

							<div class="about-widget">
								<img src="~/Images/aboutmehead.jpg" alt="About Me" class="rounded-circle">

								<p>I'm just a millenial railfan exploring the country with my camera.</p>

								<a href="@Url.Action("About", "Home")" class="btn-read-more mt-2">Read More <i class="mdi mdi-arrow-right"></i></a>
							</div>
						</aside>*@


					<!-- Social widget-->
					<aside class="widget">
						<div class="widget-title">Subscribe & Follow</div>
						@if (User.Identity.IsAuthenticated)
						{
							<h6 class="text-center"><a href="@Url.Action("EditProfile", "Manage")">Get Email Updates</a></h6>
						}
						else
						{
							<h6 class="text-center"><a href="@Url.Action("Register", "Account")">Get Email Updates</a></h6>
						}
						<hr />
						<ul class="socials">
							<li><a href="http://facebook.com/wrathillumines"><i class="mdi mdi-facebook"></i></a></li>
							<li><a href="http://twitter.com/DHunterW"><i class="mdi mdi-twitter"></i></a></li>
							<li><a href="http://instagram.com/wrathillumines"><i class="mdi mdi-instagram"></i></a></li>
						</ul>
						<hr />
						<h6 class="text-center"><a href="railpictures.net/hwphotog">Hunter On RailPictures.net</a></h6>
					</aside>

					<!-- Recent entries widget-->
					@*<aside class="widget widget_recent_entries_custom">
							<div class="widget-title">Recent Posts</div>
							<ul>
								@foreach (var item in Model)
								{
									<li class="clearfix">
										<div class="wi"><img src="@item.MediaUrl" /></div>
										<div class="wb"><p>@Html.ActionLink(item.Title, "Details", "BlogPosts", new { slug = item.Slug }, null)</p> <span class="post-date">@item.Created</span></div>
									</li>
								}
							</ul>
						</aside>*@

					<!-- Text widget-->
					@*<aside class="widget">
							<div class="widget-title">Text Widget</div>

							<p class="text-muted text-widget-des">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. </p>
						</aside>*@
				</div>
			</div>
			<!-- Sidebar end-->
		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-2.2.4.js"
		integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
		crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.swipebox.js"></script>
<script type="text/javascript">
	; (function ($) {

		$('.swipebox').swipebox();

	})(jQuery);
</script>
