@model TrainBlog.Models.BlogPost

<section class="section">
	<div class="container">

		<div class="row justify-content-center">
			<!-- Content-->
			<div class="col-8">

				<!-- Post-->
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Create New Post</b></h5>

					@using (Html.BeginForm("Edit", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary("", new { @class = "text-danger" })
						@Html.HiddenFor(m => m.Id)
						@Html.HiddenFor(m => m.Created)
						@Html.HiddenFor(m => m.Slug)
						@Html.HiddenFor(m => m.MediaUrl)
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.EditorFor(m => m.Abstract, new { htmlAttributes = new { @class = "form-control" } })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = 10 })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input name="image" type="file" id="fileUpload" class="fileUpload" />
									<label for="fileUpload" class="btn btn-dark">Add Image</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-right">
									<input type="submit" class="btn btn-dark" value="Publish" />
								</div>
							</div>
						</div>
					}
				</article>
				<!-- Post end-->

			</div>
			<!-- Content end-->

		</div>

	</div> <!-- end container -->
</section>
