@using PagedList;
@using PagedList.Mvc;

@model IPagedList<TrainBlog.Models.BlogPost>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Gallery</b></h5>
					<div class="blog-detail-description text-center">
						<p>Click an image to enlarge.</p>
						<div class="row">
							@foreach (var image in Model)
							{
								@*<div id="imageModal" class="modal fade" role="dialog">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="container-fluid">
												<div class="row">
													<div class="col-12">
														<img src="@image.MediaUrl" style="width:100%" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>*@
								<div class="col-4">
									@*<a href="" data-toggle="modal" data-target="imageModal"><img src="@image.MediaUrl" class="custom-img-fluid rounded" /></a>*@
									<a href="@image.MediaUrl"><img src="@image.MediaUrl" class="custom-img-fluid rounded" /></a>
									<br />
									<br />
								</div>
							}
						</div>
						<hr />
					</div>
					<center>
						@Html.PagedListPager(Model, page => Url.Action("Gallery", new { page, searchStr = ViewBag.Search }))
					</center>
				</article>
			</div>
		</div>
	</div>
</section>