@using PagedList;
@using PagedList.Mvc;

@model IPagedList<TrainBlog.Models.BlogPost>

<section class="section">
	<div class="container">

		<div class="row">
			<!-- Content-->
			<div class="col-sm-12 text-center">

				<!-- Post-->
				@foreach (var item in Model)
				{
					<article class="post">
						<div class="text-center post-header">
							<h2 class="post-title">@Html.ActionLink(item.Title, "Details", "BlogPosts", new { slug = item.Slug }, null)</h2>
							@Html.DisplayFor(modelItem => item.Created)
						</div>
						<div class="post-preview text-center">
							@if (item.MediaUrl != "")
							{
								<img src="@item.MediaUrl" alt="" class="img-fluid rounded" />
							}
						</div>
						<div class="post-content">
							<p>@Html.DisplayFor(modelItem => item.Abstract)</p>
						</div>
						<div class="text-center">
							@Html.ActionLink("Continue Reading", "Details", "BlogPosts", new { slug = item.Slug }, htmlAttributes: new { @class = "btn btn-outline-custom", @role = "button" })
						</div>
					</article>
				}

				<!-- Pagination-->
				<center>
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
				</center>
				<!-- Pagination end-->
			</div>
		</div>
	</div>
</section>
