@using TrainBlog.Models
@model LoginViewModel

<section class="section">
	<div class="container">

		<div class="row justify-content-center">
			<!-- Content-->
			<div class="col-8">

				<!-- Post-->
				<article class="post">
					<div class="row">
						<div class="col-8">
							<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Log In To Your Account</b></h5>

							@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
							{
								@Html.AntiForgeryToken()

								@Html.ValidationSummary("", new { @class = "text-danger" })

								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											@Html.LabelFor(m => m.RememberMe)
											@Html.CheckBoxFor(m => m.RememberMe)
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group text-center">
											@Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new { @class = "btn btn-dark" })
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group text-right">
											<input type="submit" class="btn btn-dark" value="Log In" />
										</div>
									</div>
								</div>
							}
						</div>
						<div class="col-md-4">
							@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-12 text-center">
							<p>Not Registered? @Html.ActionLink("Create An Account", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })!</p>
						</div>
					</div>
				</article>
				<!-- Post end-->

			</div>
			<!-- Content end-->

		</div>

	</div> <!-- end container -->
</section>
