@model TrainBlog.Models.RegisterViewModel

<section class="section">
	<div class="container">

		<div class="row justify-content-center">
			<!-- Content-->
			<div class="col-8">

				<!-- Post-->
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Create An Account</b></h5>

					@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
					{
						@Html.AntiForgeryToken()

						@Html.ValidationSummary("", new { @class = "text-danger" })
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Display Name" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
									<small id="passwordHelpInline" class="text-muted">
										Password must be at least 6 characters and have a lowercase letter, an uppercase letter, a number, and a symbol.
									</small>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									@Html.LabelFor(m => m.Subscribed)
									@Html.CheckBoxFor(m => m.Subscribed)
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group text-center">
									<input type="file" name="Avatar" id="Avatar" class="fileUpload" />
									<label for="Avatar" class="btn btn-dark">Add Avatar</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group text-right">
									<input type="submit" class="btn btn-dark" value="Register" />
								</div>
							</div>
						</div>
					}
				</article>
				<!-- Post end-->

			</div>
			<!-- Content end-->

		</div>

	</div> <!-- end container -->
</section>
