@using PagedList;
@using PagedList.Mvc;

@model IPagedList<TrainBlog.Models.BlogPost>

@Html.Partial("CarouselPartial", new List<TrainBlog.Models.Carousel>())

<section class="section">
	<div class="container">

		<div class="row">
			<!-- Content-->
			<div class="col-lg-8">

				<!-- Post-->
				@foreach (var item in Model)
				{
					<article class="post">
						<div class="text-center post-header">
							<h2 class="post-title">@Html.ActionLink(item.Title, "Details", "BlogPosts", new { slug = item.Slug }, null)</h2>
							@Html.DisplayFor(modelItem => item.Created)
						</div>
						<div class="post-preview text-center">
							@if (item.MediaUrl != "")
							{
								<img src="@item.MediaUrl" alt="" class="img-fluid rounded" />
							}
						</div>
						<div class="post-content">
							<p>@Html.DisplayFor(modelItem => item.Abstract)</p>
						</div>
						<div class="text-center">
							@Html.ActionLink("Continue Reading", "Details", "BlogPosts", new { slug = item.Slug }, htmlAttributes: new { @class = "btn btn-outline-custom", @role = "button" })
						</div>
					</article>
				}

				<!-- Pagination-->
				<center>
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
				</center>
				<!-- Pagination end-->
			</div>
			<!-- Content end-->
			<!-- Sidebar-->
			<div class="col-lg-4">
				<div class="sidebar">

					<!-- About widget-->
					<aside class="widget">
						<div class="widget-title">About Me</div>

						<div class="about-widget">
							<img src="~/Images/aboutmehead.jpg" alt="About Me" class="rounded-circle">

							<p>I'm just a millenial railfan exploring the country with my camera.</p>

							<a href="#" class="btn-read-more mt-2">Read More <i class="mdi mdi-arrow-right"></i></a>
						</div>
					</aside>


					<!-- Social widget-->
					<aside class="widget">
						<div class="widget-title">Subscribe & Follow</div>

						<ul class="socials">
							<li><a href="http://facebook.com/wrathillumines"><i class="mdi mdi-facebook"></i></a></li>
							<li><a href="http://twitter.com/DHunterW"><i class="mdi mdi-twitter"></i></a></li>
							<li><a href="http://instagram.com/wrathillumines"><i class="mdi mdi-instagram"></i></a></li>
						</ul>
					</aside>

					<!-- Text widget-->
					@*<aside class="widget">
							<div class="widget-title">Text Widget</div>

							<p class="text-muted text-widget-des">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. </p>

						</aside>*@

					<!-- Archives widget-->
					@*<aside class="widget widget_archive">
							<div class="widget-title">Archives</div>

							<ul>
								<li><a href="#">March 2017</a> <span class="float-right">(32)</span></li>
								<li><a href="#">April 2017</a> <span class="float-right">(09)</span></li>
								<li><a href="#">May 2017</a> <span class="float-right">(81)</span></li>
								<li><a href="#">Jun 2017</a> <span class="float-right">(12)</span></li>
							</ul>

						</aside>*@

				</div>
			</div>
			<!-- Sidebar end-->
		</div>

	</div> <!-- end container -->
</section>
