@model TrainBlog.Models.Comment

<section class="section">
	<div class="container">

		<div class="row justify-content-center">
			<!-- Content-->
			<div class="col-8">

				<!-- Post-->
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Create New Post</b></h5>

					@using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary("", new { @class = "text-danger" })
						@Html.HiddenFor(m => m.Id)
						@Html.HiddenFor(m => m.AuthorId)
						@Html.HiddenFor(m => m.BlogPostId)
						@Html.HiddenFor(m => m.BlogPost.Slug)
						@Html.HiddenFor(m => m.Created)
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.EditorFor(m => m.Body, new { htmlAttributes = new { @class = "form-control" } })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								@Html.ActionLink("Cancel", "Details", "BlogPosts", new { slug = Model.BlogPost.Slug }, new { @class = "btn btn-dark" })
							</div>
							<div class="col-sm-6">
								<div class="form-group text-right">
									<input type="submit" class="btn btn-dark" value="Save Changes" />
								</div>
							</div>
						</div>
					}
				</article>
				<!-- Post end-->

			</div>
			<!-- Content end-->

		</div>

	</div> <!-- end container -->
</section>
