@model TrainBlog.Models.SetPasswordViewModel

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<article class="post">
					<h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Change Password</b></h5>
					@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary("", new { @class = "text-danger" })
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
									<small id="passwordHelpInline" class="text-muted">
										Password must be at least 6 characters and have a lowercase letter, an uppercase letter, a number, and a symbol.
									</small>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a href="@Url.Action("Index", "Home")" class="btn btn-dark" role="button">Cancel</a>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-right">
									<input type="submit" class="btn btn-dark" value="Save" />
								</div>
							</div>
						</div>
					}
				</article>
			</div>
		</div>
	</div>
</section>
